<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>スライドショー</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
    <link rel="stylesheet" href="../static/css/slider.css" th:href="@{/css/slider.css}">
    <link rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}">
    <script src="../static/js/slider.js" th:src="@{/js/slider.js}"></script>
    <script type="text/javascript">
        $(function(){
            $("#slider").slider({
                direction: "up",
                pause: false
            });
        });
    </script>
</head>
<body>
<section id="main">
    <div class="slideFrame" id="slider" style="text-align:center;">
        <ul id="images" class="slideGuide up">
            <li class="slideCell" th:each="image : ${images.list()}">
                <img th:src="${image.url()}"/>
            </li>
        </ul>
    </div>
</section>
</body>
</html>